.badge {
  position: relative;

  &__content {
    position: absolute;
    bottom: calc(100% - var(--badge-offset-y, 12px));
    left: calc(100% - var(--badge-offset-x, 12px));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    min-width: 16px;
    padding: 0 5px;
    border-radius: 100px;
    font-size: 10px;
    font-weight: 500;
    color: #FFF;
    background: #DC1A1A;
    white-space: nowrap;
  }
}
