<h2>Example</h2>
<app-example>
  <app-tab-group>
    <app-tab label="Example">
      <form [formGroup]="formGroup">
        <div class="slide-toggle-item">
          <app-slide-toggle [(ngModel)]="isChecked" [ngModelOptions]="{standalone: true}" (toggleChange)="onChange($event)">Slide me!</app-slide-toggle>
        </div>
        <div class="slide-toggle-item">
          <app-slide-toggle labelPosition="before" formControlName="toggle" (toggleChange)="onChange($event)">Slide me!</app-slide-toggle>
        </div>
        <div class="slide-toggle-item">
          <app-slide-toggle [disabled]="true">Disabled</app-slide-toggle>
        </div>
      </form>
    </app-tab>
    <app-tab label="HTML">
      @if (fileContents['exampleHtml']) {
        <pre><code [highlightAuto]="fileContents['exampleHtml']"></code></pre>
      }
    </app-tab>
    <app-tab label="TS">
      @if (fileContents['exampleTs']) {
        <pre><code [highlightAuto]="fileContents['exampleTs']"></code></pre>
      }
    </app-tab>
    <app-tab label="SCSS">
      @if (fileContents['exampleScss']) {
        <pre><code [highlightAuto]="fileContents['exampleScss']"></code></pre>
      }
    </app-tab>
  </app-tab-group>
</app-example>

<h2>Code</h2>
<app-example>
  <app-tab-group>
    <app-tab label="slide-toggle.component.html">
      @if (fileContents['codeHtml']) {
        <pre><code [highlightAuto]="fileContents['codeHtml']"></code></pre>
      }
    </app-tab>
    <app-tab label="slide-toggle.component.ts">
      @if (fileContents['codeTs']) {
        <pre><code [highlightAuto]="fileContents['codeTs']"></code></pre>
      }
    </app-tab>
    <app-tab label="slide-toggle.component.scss">
      @if (fileContents['codeScss']) {
        <pre><code [highlightAuto]="fileContents['codeScss']"></code></pre>
      }
    </app-tab>
  </app-tab-group>
</app-example>
