<div class="select">
  <div class="select__selected">
    {{ selectedValues().length ? selectedDisplayTexts().join(', ') : '' }}
  </div>
  <div
    class="select__arrow"
    [style.transform]="isOpen() ? 'rotate(180deg)' : ''">
    <app-icon name="expand-more" [size]="20" />
  </div>
</div>
<ng-template #optionsTemplate>
  <div class="select-options-wrap">
    <div
      class="select-options-overlay"
      aria-hidden="true"
      (click)="onOverlayClick()"></div>
    <div
      class="select-options"
      role="listbox"
      [id]="listboxId"
      [attr.aria-multiselectable]="multiple()">
      <ng-content select="[select-search]" />
      <div class="select-options__list">
        <ng-content />
      </div>
    </div>
  </div>
</ng-template>
