<h2>Code</h2>
<app-example>
  <app-tab-group>
    <app-tab label="dialog.service.ts">
      @if (fileContents()['exampleService']) {
        <pre><code [highlightAuto]="fileContents()['exampleService']"></code></pre>
      }
    </app-tab>
    <app-tab label="dialog-ref.ts">
      @if (fileContents()['exampleRef']) {
        <pre><code [highlightAuto]="fileContents()['exampleRef']"></code></pre>
      }
    </app-tab>
    <app-tab label="dialog-config.ts">
      @if (fileContents()['exampleConfig']) {
        <pre><code [highlightAuto]="fileContents()['exampleConfig']"></code></pre>
      }
    </app-tab>
    <app-tab label="dialog-container.html">
      @if (fileContents()['exampleContainerHtml']) {
        <pre><code [highlightAuto]="fileContents()['exampleContainerHtml']"></code></pre>
      }
    </app-tab>
    <app-tab label="dialog-container.ts">
      @if (fileContents()['exampleContainerTs']) {
        <pre><code [highlightAuto]="fileContents()['exampleContainerTs']"></code></pre>
      }
    </app-tab>
    <app-tab label="dialog-close.directive.ts">
      @if (fileContents()['exampleClose']) {
        <pre><code [highlightAuto]="fileContents()['exampleClose']"></code></pre>
      }
    </app-tab>
  </app-tab-group>
</app-example>

<h2>Header</h2>
<app-example>
  <app-tab-group>
    <app-tab label="dialog-header.html">
      @if (fileContents()['headerHtml']) {
        <pre><code [highlightAuto]="fileContents()['headerHtml']"></code></pre>
      }
    </app-tab>
    <app-tab label="dialog-header.ts">
      @if (fileContents()['headerTs']) {
        <pre><code [highlightAuto]="fileContents()['headerTs']"></code></pre>
      }
    </app-tab>
    <app-tab label="dialog-header.scss">
      @if (fileContents()['headerScss']) {
        <pre><code [highlightAuto]="fileContents()['headerScss']"></code></pre>
      }
    </app-tab>
  </app-tab-group>
</app-example>

<h2>Content</h2>
<app-example>
  <app-tab-group>
    <app-tab label="dialog-content.ts">
      @if (fileContents()['contentTs']) {
        <pre><code [highlightAuto]="fileContents()['contentTs']"></code></pre>
      }
    </app-tab>
    <app-tab label="dialog-content.scss">
      @if (fileContents()['contentScss']) {
        <pre><code [highlightAuto]="fileContents()['contentScss']"></code></pre>
      }
    </app-tab>
  </app-tab-group>
</app-example>

<h2>Footer</h2>
<app-example>
  <app-tab-group>
    <app-tab label="dialog-footer.ts">
      @if (fileContents()['footerTs']) {
        <pre><code [highlightAuto]="fileContents()['footerTs']"></code></pre>
      }
    </app-tab>
    <app-tab label="dialog-footer.scss">
      @if (fileContents()['footerScss']) {
        <pre><code [highlightAuto]="fileContents()['footerScss']"></code></pre>
      }
    </app-tab>
  </app-tab-group>
</app-example>
