<h2>Input with a hint</h2>
<app-example>
  <app-tab-group>
    <app-tab label="Example">
      <div class="hint-input">
        <app-form-field>
          <app-form-field-label>Lorem ipsum</app-form-field-label>
          <input type="text" input />
          <app-form-field-hint>This is a hint for the input</app-form-field-hint>
        </app-form-field>
      </div>
    </app-tab>
    <app-tab label="HTML">
      @if (fileContents['exampleHtml']) {
        <pre><code [highlightAuto]="fileContents['exampleHtml']"></code></pre>
      }
    </app-tab>
    <app-tab label="TS">
      @if (fileContents['exampleTs']) {
        <pre><code [highlightAuto]="fileContents['exampleTs']"></code></pre>
      }
    </app-tab>
    <app-tab label="SCSS">
      @if (fileContents['exampleScss']) {
        <pre><code [highlightAuto]="fileContents['exampleScss']"></code></pre>
      }
    </app-tab>
  </app-tab-group>
</app-example>
