<h2>Disabled select</h2>
<app-example>
  <app-tab-group>
    <app-tab label="Example">
      <div class="disabled-select">
        <app-form-field>
          <app-form-field-label>Choose your language</app-form-field-label>
          <app-select [(ngModel)]="value" [disabled]="true">
            @for (language of languages; track $index) {
              <app-option [value]="language">{{ language }}</app-option>
            }
          </app-select>
        </app-form-field>
      </div>
    </app-tab>
    <app-tab label="HTML">
      @if (fileContents['exampleHtml']) {
        <pre><code [highlightAuto]="fileContents['exampleHtml']"></code></pre>
      }
    </app-tab>
    <app-tab label="TS">
      @if (fileContents['exampleTs']) {
        <pre><code [highlightAuto]="fileContents['exampleTs']"></code></pre>
      }
    </app-tab>
    <app-tab label="SCSS">
      @if (fileContents['exampleScss']) {
        <pre><code [highlightAuto]="fileContents['exampleScss']"></code></pre>
      }
    </app-tab>
  </app-tab-group>
</app-example>
